.warningIcon {
    display: block;
    background-image: url('/assets/images/warning.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.errorIcon {
    display: block;
    background-image: url('/assets/images/error.png');
    background-size: contain;
    background-repeat: no-repeat;
}