/* You can add global styles to this file, and also import other style files */

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

// to add support for dark theme in ngx-charts
div.container.dark-theme-mode .ngx-charts {
    text {
        fill: #fff!important;
    }
}